.s2-fixed {
  position: absolute;
  width: 100%;
  max-width: 1190px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 200px;
  z-index: 10;
  color: white;
  opacity: 1;
  transition: 0.3s ease;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  &.hidden {
    opacity: 0;
  }

  & > div {
    padding-right: 20px;
  }

  // Center content vertically in landscape
  @media screen and (orientation: landscape) {
    padding-bottom: 50vh;
    & > div {
      margin-bottom: -75px;
    }
  }
  @media screen and (min-width: 1190px) {
    left: 50%;
    margin-left: -595px;
  }
}

.s2-s0 {
  background-image: url("https://images.unsplash.com/photo-1538871526007-01b3d1c06072?ixlib=rb-0.3.5&s=9cef9cef297f01c1b176f74261a125fe&auto=format&fit=crop&w=1567&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.s2-s1 {
  background-image: url("https://images.unsplash.com/photo-1538871526007-01b3d1c06072?ixlib=rb-0.3.5&s=9cef9cef297f01c1b176f74261a125fe&auto=format&fit=crop&w=1567&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.s2-s2 {
  background-image: url("https://images.unsplash.com/photo-1538871526007-01b3d1c06072?ixlib=rb-0.3.5&s=9cef9cef297f01c1b176f74261a125fe&auto=format&fit=crop&w=1567&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.s2-s3 {
  background-image: url("https://images.unsplash.com/photo-1538871526007-01b3d1c06072?ixlib=rb-0.3.5&s=9cef9cef297f01c1b176f74261a125fe&auto=format&fit=crop&w=1567&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.the-legend-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0px;
  z-index: 1000;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: scroll;
  padding: 0 30px;
  transition: 0.5s ease;
  font-weight: 300;
  pointer-events: none;

  &-section {
    min-height: 50vh;
    display: block;
    h1 {
      font-size: 38px;
      font-weight: 700;
      margin-top: 30px;
    }
  }

  .close-btn {
    position: fixed;
    left: 50%;
    padding: 10px 50px;
    margin-left: -150px;
    &:before {
      content: "";
      display: none;
      width: 200px;
      height: 4px;
      background-color: #fff;
      border-radius: 5px;
    }
  }

  &.open {
    height: 50vh;
    pointer-events: all;
    .close-btn:before {
      display: block;
    }
  }

  @media screen and (min-width: 600px) {
    right: 0;
    top: 0;
    left: auto;
    padding: 0 15px;
    width: 35vw;
    min-width: 300px;

    &-section {
      min-height: 100vh;
    }

    &.open {
      height: 100vh;
      padding-top: 100px;
    }

    .close-btn {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    font-size: 22px;
  }
}
