.s3-s0 {
  background-image: url("https://images.unsplash.com/photo-1541445435581-4ad884431b0a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a1a53df1f7b4c57c94ac523940f02d57&auto=format&fit=crop&w=1567&q=80");

  .content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    max-width: 250px;
    padding-bottom: 100px;
  }

  @media screen and (orientation: portrait) and (max-height: 700px) {
    .content {
      text-align: center;
      p {
        display: none;
      }
    }
  }

  // Center content vertically in landscape
  // + Pull content to the right side
  @media screen and (orientation: landscape) {
    .content {
      text-align: right;
      margin-right: 20px;
      padding-bottom: 50vh;
      & > div {
        margin-bottom: -125px;
      }
    }
  }
}

.s3-s1 {
  background-color: blue;
}

.s3-s2 {
  background-color: red;
}

.s3-s3 {
  background-color: green;
}
