.s3-s0 {
  position: relative;

  .content {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    padding-bottom: 100px;

    & > div {
      padding-left: 35px;
      max-width: 275px;
      opacity: 1;
      transition: 0.3s ease;

      p {
        span {
          transition: 0.5s ease;
          max-height: 0px;
          height: auto;
          display: block;
          overflow: hidden;

          &.open {
            max-height: 200px;
          }
        }
      }

      &.hidden {
        opacity: 0;
      }
    }
  }

  .drawer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 0px;
    z-index: 2000;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0 30px;
    transition: 0.5s ease;
    font-weight: 300;

    .close-btn {
      position: relative;
      width: 100%;
      padding: 20px 50px;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.open {
      max-height: 400px;
      padding-bottom: 35px;
    }
  }

  @media screen and (orientation: portrait) and (max-height: 700px) {
    .content {
      text-align: center;
      & > div {
        padding-left: 0;
        p {
          display: none;
        }
      }
    }
  }

  @media screen and (orientation: landscape) and (max-height: 500px) {
    .content {
      padding-left: 50%;
      padding-bottom: 15vh;
      padding-right: 45px;
      justify-content: flex-start;
      align-content: flex-end;
      & > div {
        padding-left: 0;
      }
    }
  }

  @media screen and (min-width: 1000px) {
    .content {
      padding-left: 50%;
      padding-bottom: 20vh;
      justify-content: flex-start;
      & > div {
        max-width: none;
        padding: 0;
        padding-right: 75px;
        padding-left: 50px;
        h1 {
          font-size: 60px;
        }
        p {
          font-size: 20px;
          max-width: 450px;
        }
      }
    }
  }
}

.s3-s1 {
  .container-fluid {
    display: flex;
    flex-direction: column;

    @media screen and (orientation: landscape) {
      flex-direction: row;
    }
  }
}

.s3-s2 {
  .content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 120px;
    padding-left: 50px;
  }

  @media screen and (orientation: landscape) and (max-height: 500px) {
    .content {
      justify-content: flex-end;
      text-align: right;
      margin-right: 20px;
      padding-bottom: 30vh;
      padding-right: 50px;
      & > div {
        margin-bottom: -40px;
      }
    }
  }

  @media screen and (min-width: 1000px) {
    .content {
      & > div {
        h1 {
          font-size: 60px;
        }
        p {
          font-size: 30px;
        }
      }
    }
  }
}
