.s4-s0 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.s4-s1 {
  background-color: blue;
}

.s4-s2 {
  background-color: red;
}

.s4-s3 {
  background-color: green;
}
