.s5-s0 {
  background-size    : cover;
  background-position: center;
  background-repeat  : no-repeat;
  .content {
    flex-direction : column;
    justify-content: flex-end;
    max-width      : 360px;
    text-align     : center;

    .title {
      margin-bottom: 0px;
    }

    .underTitle {
    }

    form {
      max-width     : 260px;
      margin        : 0 auto;
      display       : flex;
      flex-direction: column;

      margin-top: 32px;

      input {
        border          : 1px solid #fff;
        background-color: rgba(51, 51, 51, 0.753);
        color           : #fff;
        padding         : 16px;
      }
      .joinBtn {
        margin-top      : 16px;
        border          : 1px solid #fff;
        background-color: transparent;
        color           : #fff;
        padding         : 16px;
      }
    }

    .social {
      margin-top     : 96px;
      display        : flex;
      flex-direction : row;
      justify-content: space-around;

      
      font-size: 18px;  // Remove me

      div {
      }
      .facebook {
      }
      .instagram {
      }
      .twitter {
      }
    }

    .brand {
      font-size: 24px;
    }

    // .scrollTopBtn {
    //   border: 1px solid #fff;
    //   background-color: rgba(51, 51, 51, 0.753);
    //   color: #fff;
    //   margin: 16px auto;
    //   padding: 16px;
    // }
  }
}
