@import "vendor/normalize.scss";
@import "fonts";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "AktivGrotesk", sans-serif;
}

.container {
  max-width: 1190px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
