@import "vendor/normalize";
@import "vendor/fullpage";
@import "fonts";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "AktivGrotesk", sans-serif;
}

header {
  display: flex;
  position: absolute;
  z-index: 1001;

  width: 100%;

  //background-color: rgba(238, 238, 238, 0.2);
  color: #eee;

  justify-content: flex-end;
  align-items: center;

  .lang {
    select {
      margin-right: 10px;
      padding: 17px 15px 10px 18px;
      border: none;
      background: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: "";
      color: white;
      font-weight: 300;
      font-size: 16px;
    }
  }

  .lang:hover span {
    background-color: rgba(238, 238, 238, 0.2);
  }

  .lang:hover .lang-content {
    display: block;
  }

  .lang-content {
    display: none;
    position: absolute;
    background-color: rgba(238, 238, 238, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    a {
      color: #eee;
      text-decoration: none;
      border: 1px solid transparent;

      display: block;
      padding: 12.5px;
    }

    a:hover {
      background-color: #222;
      border: 1px solid #eee;
    }
  }

  .menu-btn {
    display: inline-block;
    cursor: pointer;

    position: relative;
    height: 13px;
    width: 23px;
    padding: 24px 30px;


    .bar1,
    .bar2,
    .bar3 {
      width: 23px;
      height: 2px;
      background-color: #eee;
      transition: all 0.5s ease;
      position: absolute;
      right: 16px;
    }

    .bar1 {
      top: 18px;
    }
    .bar2 {
      top: 26px;
    }
    .bar3 {
      top: 34px;
    }
  }

  .menu-btn.active {
    .bar1 {
      top: 26px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      top: 26px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

// main{
//   transition: filter 0s .4s;
// }

// main.blur{
//   filter: blur(8px);
//   transition: filter 0s .2s;
// }

.full-nav {
  height: 48px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #222222bd;
  backdrop-filter: blur(5px);
  overflow-y: hidden;
  transition: 0.5s;

  .closebtn {
    text-decoration: none;
    color: #818181;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  ul {
    padding: 0;
    transition: transform .5s;

    transform: translate(0px, -200px);

    li {
      padding: 10px;
      font-size: 6px;
      font-weight: bold;
      color: transparent;
      display: block;
      transition: 0.5s;
      cursor: pointer;

      a {
        color: inherit;
        text-decoration: none;
      }

      span {
        vertical-align: text-top;
        font-size: 12px;
        font-weight: 500;
      }
    }

    li:hover a{
      color: rgb(100, 100, 100);
    }

    li a:focus{
      color: #00205A;
    }
  }

  @media screen and (max-height: 450px) {
    overflow-y: auto;

    li {
      font-size: 20px;
    }

    .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
}

.full-nav.open{
  height: 100%;

  ul{
    // Translate into initial position
    transform: translate(0px, 0px);

    li{
      font-size: 48px;
      color: #eee;
    }
  }
  
}

.overlay-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.middle {
  position: fixed;
  top: 50%;
  height: 1px;
  width: 100%;
  background: red;
  z-index: 9;
}

.section-nav {
  height: 290px;
  align-items: center;
  position: fixed;
  color: white;
  z-index: 10;
  left: 11px;
  top: 50%;
  margin-top: -140px;
  transition: transform 0.7s ease, opacity 0.2s ease;
  transform: translateY(102px);
  opacity: 1;

  ul {
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li {
      font-size: 16px;
      font-weight: 400;
      transition: all 0.7s ease;

      &.active {
        margin-left: -1px;
        font-size: 74px;
        font-weight: bold;
      }
    }
  }
}

.container {
  // max-width: 1190px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}

.sv,
.en {
  display: none;
  &.current-lang {
    display: block;
  }
}

@import "sections/1";
@import "sections/2";
@import "sections/3";
@import "sections/4";
@import "sections/5";