.nav-dashY {
  position: absolute;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 35px;
  background-color: #fff;
  z-index: 2000;
  transition: 0.3s ease;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  cursor: pointer;
  &:hover {
    height: 50px;
  }
  &.clicked {
    height: 100vh;
  }

  &--next {
    bottom: 0;
  }
  &--prev {
    top: 0;
  }
}

.nav-dashX {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  height: 20px;
  width: 35px;
  background-color: #fff;
  z-index: 2000;
  transition: 0.3s ease;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  cursor: pointer;
  &:hover {
    width: 50px;
  }

  &--next {
    right: 0;
    &:before {
      pointer-events: none;
      content: "Ready";
      position: absolute;
      width: 0px;
      height: 0px;
      font-size: 12px;
      font-weight: 300;
      color: white;
      transform: rotate(-90deg);
      left: -22px;
      bottom: -7px;
      letter-spacing: 0.8px;
      display: block;
    }
    &:hover {
      &:before {
        content: "Go";
        bottom: 1px;
      }
    }
  }
  &--prev {
    left: 0;
    &:after {
      pointer-events: none;
      content: "Reverse";
      position: absolute;
      width: 0px;
      height: 0px;
      font-size: 12px;
      font-weight: 300;
      color: white;
      transform: rotate(-90deg);
      right: -13px;
      bottom: -14px;
      letter-spacing: 0.8px;
      display: block;
    }
    &:hover {
      &:after {
        content: "Go";
        bottom: 1px;
      }
    }
  }
}
